*{
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --verde:#6a8d73;
    --blanco:#f4fdd9;
    --rojo:#f75077;
    }

/*header START*/
/*
.header {
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: var(--blanco) ;
    flex-wrap: wrap;
    min-height: 10vh;
    grid-area: header;
}*/

.header__nuevo{
    background-color: var(--verde);
    padding: 15px;
    color: var(--blanco) ;
    grid-area: header;
}

.header__item {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    }

.header__logo-img {
    width: 250px;
    display: inline-block;
    filter: invert(95%) sepia(35%) saturate(214%) hue-rotate(16deg) brightness(96%) contrast(106%);
}

.header__logo-img:hover {
    filter: invert(44%) sepia(10%) saturate(7493%) hue-rotate(313deg) brightness(101%) contrast(94%);
}

a, a:visited {
    color: inherit !important;
    text-decoration: none;
}

a:hover{
    color: #f75077 !important;
}

.navbar {
    padding:0px;
}

#navbarNav {
    justify-content: flex-end;
}
.header__grid{
    grid-area: header;
}
/*header END*/

/*footer START*/
.footer {
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: var(--blanco) ;
    flex-wrap: wrap;
    min-height: 10vh;
    grid-area: footer;
}

.footer__item {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    }
/*footer END*/

/*index START*/
.index__hero {
    height: 80vh;
    min-height: 450px;
    color: var(--blanco);

    background-image: url("../images/image_index.jpg");
    background-position: left ;
    background-size: cover;
}

.index__hero-text{
    display: inline-block;
    position: relative;
    margin: 2rem;
    top: 15%;
}

.index__hero-heading {
    font-weight:500;
    font-size: 100px;
    transition-duration: 1s !important;
}

.index__hero-slogan {
    font-weight:500;
    font-size: 50px;
    transition-duration: 1.4s !important;
}

.index__hero-btn {
    position: relative;
    top: 5vh;
}
/*hero END*/

.btn {
    font-size: 30px;
    padding: 5px 30px;
    background-color: var(--blanco);
}

.btn:hover{
    background-color: var(--rojo);
    color: var(--blanco);
    transition-duration: 0.4s;
}

/*location START*/
.location__grid {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-areas: "header header"
                         "location__right location__left"
                         "footer footer"
                         ;}

.location__hero {
    display: inline-block;
    height: 80vh;
    min-height: 500px;
    color: var(--blanco);
    background-image: url("../images/image_location.jpg");
    background-position: left ;
    background-size: cover;
    grid-area: location__right;
    vertical-align:top;
}

.location__content {
    display: inline-block;
    height: 80vh;
    vertical-align:top;
    grid-area: location__left;
}

.location__content iframe {
    height: 100%;
    width: 100%;
}
/*location END*/

/*Booking START*/
.book__grid {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-areas: "header header"
                         "book__left book__right"
                         "footer footer"
                         ;
}
.book__content {
    display: inline-block;
    font-size: 20px;
    background-color:var(--blanco);
    padding: 1em;
    grid-area: book__left;
}
.book__item {
    padding: 5px 0px;
    font-size: 20px;
}
.book__btn {
    margin-top: 15px ;
}
input {
    font-size: 20px;
}

.book__hero{
    display: inline-block;
    height: 80vh;
    min-height: 450px;
    vertical-align:top;
    color: var(--blanco);
    background-image: url("../images/image_booknow.jpg");
    background-position: left ;
    background-size: cover;
    grid-area: book__right;
}

/*Booking END*/

/*Review START*/
.review__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "header header"
                         "review__left review__right"
                         "footer footer"
                         ;
}

.review__hero{
    display: inline-block;
    min-height: 500px;
    height: 80vh;
    vertical-align:top;
    color: #f4fdd9;
    background-image: url("../images/image_review.jpg");
    background-position: left ;
    background-size: cover;
    grid-area: review__right;
}
.review__hero .index__hero-btn{
    top: 1em;
}
.review__hero .index__hero-text{
    top: 10%;
}

.review__content {
    display: inline-block;
    height: 80vh;
    min-height: 500px;
    background-color:var(--blanco);
    grid-area: review__left;
    font-size: 20px;
    padding: 1em;
}

.review__content textarea {
    padding:5px; 
    width: 100%; 
    min-height: 50px;
    height: 90%;
}

.review__top {
    height: 45%;
}
.review__top form{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.review__top #textarea {
    flex-grow: 1;
    height: 60%;
}

.review__bottom {
    height: 55%;
    overflow-y: scroll;
    margin-top: 1em;
}

.review__comment {
    font-size: 15px;
    font-weight: lighter;
    padding-right: 10px;
    padding-bottom: 2em;
    text-align: justify;
}

.review__bottom::-webkit-scrollbar {
    width: 5px;}
    
.review__bottom::-webkit-scrollbar-track {
    background: #f1f1f1;}
.review__bottom::-webkit-scrollbar-thumb {
    background: var(--verde);}
.review__bottom::-webkit-scrollbar-thumb:hover {
    background:var(--rojo);}

/*Review END*/

/*Menu START*/
.menu__hero {
    background-image: url("../images/image_menu.jpg");
    height: 80vh;
    min-height: 450px;
    color: var(--blanco);
    background-position: left ;
    background-size: cover;
}

/*
.favoritos {
    width: 100vw;
    text-align: center;
    background-color: var(--blanco);
}
.favoritos__header{
        font-weight:400;
        font-size: 40px;
        padding: 20px;
}
.favoritos__infocard{
    display: inline-block;
    width: 30%;
    min-width: 250px;
    margin: 5px;
    overflow: hidden;  
}
.favoritos__img {
    height: 250px;
}
.favoritos__fondo {
    background-color: var(--blanco);
    padding: 50px;
}*/

.menu {
    width: 100vw;
    background-color: var(--blanco);
    text-align: center;
}
.menu__header{
    font-weight:400;
    font-size: 40px;
    padding: 20px;
}
.menu__item{
    width: 300px;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.carousel-indicators {
    bottom: 20%;
}
.carousel-caption {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    color: black;
}
#carouselExampleCaptions {
    margin: 0px auto;
    max-width: 500px;
}
/*Menu END*/

@media screen and (max-width: 768px) {

    /*Location START*/
    .location__grid {
        grid-template-areas: "header header"
                             "location__right location__right"
                             "location__left location__left"
                             "footer footer"
                             ;
    }
    /*Location END*/

    /*Review START*/
    .review__grid {
        grid-template-areas: "header header"
                             "review__right  review__right"
                             "review__left review__left"
                             "footer footer"
                             ;
    }
    .review__hero {
        overflow: hidden;
    }
    /*Review END*/

    /*Book-Now START*/
    .book__grid {
        grid-template-areas: "header header"
                             "book__right  book__right"
                             "book__left book__left"
                             "footer footer"
                             ;
    }
    .book__hero {
        overflow: hidden;
    }
    /*Book-Now END*/
}

@media screen and (max-width: 425px) {
    .header__logo-img {
        width: 200px;
    }
    .header__list {
        flex-direction: column;
    }
    .footer{
        justify-content: center;
    }

    .index__hero {
        height: 70vh;
    }
    .index__hero-text{
        top: 7%;
    }
    .index__hero-heading{
        font-size: 80px;
        font-weight: 400;
    }
    .index__hero-slogan{
        font-size: 40px;
        font-weight: 400;
    }


    .location__hero {
        height: 70vh;
    }
    .review__hero {
        font-size: 70px;
    }
    .book__hero {
        font-size: 70px ;
    }
}